* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --text-color: #e6e6e6;
  --reset-btn: #7e65e7;
  --rgb-btn: linear-gradient(
    100.22deg,
    #ff7093 13.69%,
    #60cbe2 52.73%,
    #6891fa 85.46%
  );
  --grey-btn: #a3a3a3;
}

html {
  font-family: Dosis, Arial, Helvetica, sans-serif;
}

body {
  background: rgb(175, 104, 234);
  background: -moz-linear-gradient(
    327deg,
    rgba(175, 104, 234, 1) 0%,
    rgba(126, 101, 231, 1) 100%
  );
  background: -webkit-linear-gradient(
    327deg,
    rgba(175, 104, 234, 1) 0%,
    rgba(126, 101, 231, 1) 100%
  );
  background: linear-gradient(
    327deg,
    rgba(175, 104, 234, 1) 0%,
    rgba(126, 101, 231, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#af68ea",endColorstr="#7e65e7",GradientType=1);

  color: var(--text-color);
  text-align: center;
}

.container {
  width: 98%;
  margin: auto;
  max-width: 900px;
  min-width: 400px;
}

h1 {
  font-weight: 300;
  font-size: 55px;
  margin-bottom: 20px;
}

.btn {
  padding: 5px 15px;
  filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.45));
  margin: 0 5px 15px 0;
  font-size: 20px;
  font-weight: 300;
  color: var(--text-color);
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.1s ease-in-out;
}

.reset-btn {
  background-color: var(--reset-btn);
}
.reset-btn:hover {
  background-color: white;
  color: var(--reset-btn);
}

.rgb-btn {
  background: var(--rgb-btn);
}
.rgb-btn:hover {
  background: white;
  color: var(--reset-btn);
}

.grey-btn {
  background-color: var(--grey-btn);
}
.grey-btn:hover {
  background-color: white;
  color: var(--reset-btn);
}
.pen label {
  font-size: 25px;
  margin: 0 5px;
}
.pen {
  margin-bottom: 20px;
}
.color-picker {
  cursor: pointer;
}

.grid {
  width: 95%;
  max-width: 960px;
  margin: 0 auto;
  height: 564px;
  background-color: #ffffff;
  display: grid;
  box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.25);
}
.cell {
  border: 1px solid rgb(209, 209, 209);
  background-color: white;
  margin: 0;
  padding: 0;
}

.scroll-btn {
  margin-top: 8px;
  background-color: var(--grey-btn);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

footer p {
  display: inline-block;
}
.github {
  height: 25px;
  background-color: transparent;
  margin-left: 5px;
}

@media screen and (min-width: 700px) {
  .controls {
    display: flex;
    justify-content: space-between;
  }
  h1 {
    font-size: 76px;
  }
  .grid {
    width: 100%;
  }
}
